{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">Modifier la tache</h1>
<form action="{{ url_for('update',id=task.id)}}" method="post">
    <div class="row g-2 align-items-center">
        <div class="col-md-8 col-sm-12">
            <label for="title" class="form-label visually-hidden">Nouvelle tâche</label>
            <input 
                type="text" 
                class="form-control" 
                id="title" 
                name="title" 
                placeholder="Nouvelle tâche" 
                required />
        </div>
        <div class="col-md-4 col-sm-12 text-sm-start text-md-end">
            <button type="submit" class="btn btn-primary w-100 w-md-auto">Modifier</button>
        </div>
    </div>
</form>
{% endblock content %}